*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.fa-bell{
    color: #FF8F00;
}
.fa-bell:active{
    color: #be7616;
}

.w-bar{
    width: 80%;
}

.background-navbar{
    background-color: #F8F9FA;
}

.background-search{
    background-color: #E5E5E5;
}

.border-menu{
    border: 0;
}

.background-navbar-laterale{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

.size-sidebar{
    width: 150px;
    height: 94%;
}

.background-icone:hover{
    background-color: rgba(229, 229, 229, 0.5);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.background-green{
    background-color: green;
}

.background-red{
    background-color: red;
}

.background-topbar{
    background-color: #1B72E8;
}

.label{
    border-radius: 30px;
    background-color: #165BBA;
    font-size: 8pt;
}

.label-plus{
    border-radius: 50%;
    background-color: #165BBA;
    font-size: 8pt;
}

.m-left{
    padding-left: 170px;
}

.border-white{
    border: 1px solid white;
}

.border-radius{
    border-radius: 5px;
}

.contenitore-topbar{
    width: 100%;
}

.m-left-cards{
    margin-left: 60px;
}

@media screen and (max-width: 991px) {
    .size-sidebar{
        width: 80px;
    }

    .m-left{
        padding-left: 100px;
    }

    .m-left-cards{
        margin-left: 20px;
    }
    
}